<?xml version = '1.0' encoding = 'UTF-8'?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>dgkim MIS</display-name>
    <context-param>
        <param-name>extjs_url</param-name>
        <param-value>//cdnjs.cloudflare.com/ajax/libs/extjs/4.2.1</param-value>
    </context-param>
    <context-param>
        <param-name>jquery_url</param-name>
        <param-value>//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0</param-value>
    </context-param>
    <context-param>
        <param-name>jqueryui_url</param-name>
        <param-value>//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.8.23</param-value>
    </context-param>
    <error-page>
        <error-code>403</error-code>
        <location>/forbidden.jsp</location>
    </error-page>
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Users</realm-name>
        <!--
        <form-login-config>
            <form-login-page>/login_form.jsp</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
        -->
    </login-config>
    <security-role>
        <role-name>Users</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>All Resources</web-resource-name>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/data/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Users</role-name>
        </auth-constraint>
        <!-- <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint> -->
    </security-constraint>
    <servlet>
        <servlet-name>MIS</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/app-config.xml,/WEB-INF/spring/db-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MIS</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>